@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

:root {
  --purple500: #281154;
  --purple300: #270082;
  --purple600: #1b0058;
  --red600: #dc0000;
  --body: #f9f6ff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  font-weight: 300;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
}

.primary-btn {
  background-color: var(--red600);
  color: white;
  padding: 10px 20px;
}

.primary-btn:hover, .secondary-btn:hover {
  transform: scale(1.3);
  transition: 0.2s ease-in;
}

.secondary-btn {
  background-color: var(--purple300);
  color: white;
  padding: 10px 20px;
}

/* Header Section */
header {
  background-color: var(--purple300);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
}

nav {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 20px 0;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav ul li:hover {
  border-bottom: 2px solid white;
  transition: 0.2s ease-in;
}

a {
  text-decoration: none;
  color: white;
}

nav ul li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav ul li:hover {
  border-bottom: 2px solid white;
}

/* Intro Section */
.intro-section {
  background-image: url(./images/hero_image.png);
  height: 100vh;
  color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center; /*vertically center */
  text-align: center; /*horizontally center*/
}

.intro-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.intro-section h1 {
  font-size: 90px;
}

.intro-section h3 {
  font-size: 32px;
}

/* Music Section */
.music-section {
  background-color: var(--purple500);
  padding: 30px 0;
}

.music-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  color: white;
}

.ipad-iphone-img {
  position: relative;
  top: 400px;
  margin-top: -400px;
}

/* About Music Section */
.about-music {
  padding-top: 450px;
  display: grid;
  place-items: center;
  text-align: center;
  margin-bottom: 50px;
  gap: 50px;
}

/* Video section */
.video-section {
  background-image: url(./images/video.png);
  background-size: cover;
  background-position: center;
  height: 120vh;
  display: grid;
  align-items: center; /*Vertically center*/
  text-align: center; /*Horizontally center*/
  color: white;
}

.video-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/*Gift Section */
.gift-section .container {
  margin: 100px 0;
  padding: 30px;
  display: flex;
  justify-content: center;
  gap: 50px;
}

.gift-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* Upper Footer */
.upper-footer {
  background-color: var(--purple600);
  padding: 20px;
}

.upper-footer .container {
  display: flex;
  color: white;
  justify-content: space-around;
}

.upper-footer h4 {
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.upper-footer ul {
  list-style: none;
}

.upper-footer hr {
  color: white;
}

footer {
  background-color: var(--purple300);
  color: white;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
